<!--
    At the top of each new views/pages/*.ejs file, import this file:
        include('../partials/base/html_top')
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Set title to variable site_title in sitevars dict from app.js -->
    <title><%= sitevars.site_title %></title>

    <!-- Minified Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Optional: add 50px padding to top of pages -->
    <style>
      body {
        padding-top: 50px;
      }
    </style>

    <!-- Will automatically update your favicon if it's changed when page loads -->
    <!-- <link rel="icon" href="http://<%- sitevars.site_address %>/favicon.ico?v=2" /> -->
    <link rel="icon" href="/favicon.ico?v=2" />
  </head>

  <!-- Start all pages with a body container -->
  <body class="container-fluid">
    <header>
      <!-- Navbar -->
      <%- include('./navbar.ejs') %>
    </header>

    <main>
      <!--
            End top section of boilerplate html. When starting a new page, add
            include('../partials/partials/html_top.ejs') to top of file 
        -->
    </main>
  </body>
</html>
