<!-- Navbar -->

<!-- Add "fixed-bottom" to class for a bottom nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-3" href="/">piscrape</a>

  <!-- Navbar links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/scrape">start scrape</a>
    </li>
    <li class="navbar-nav mr-auto justify-right">
      <a class="nav-link" href="/results">results</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="/about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/examples">examples</a>
    </li> -->
  </ul>
</nav>
<!-- End Navbar -->
