<%- include('../partials/base/html_top') %>

<h1 class="text-center text-danger">This is a work in progress</h1>

<div class="card text-center text-dark bg-light mb-3 mt-3">
  <div class="card-header">Notes</div>
  <div class="card-body">
    <h5 class="card-title">Instructions</h5>
    <p class="card-text">
      Click "start scrape" in the navbar, or the "scrape" button below
    </p>
    <p class="card-text">
      Navigate to <a href="/results">/results</a> to see results
    </p>
  </div>
</div>

<div class="card text-center text-dark bg-light mb-3 mt-3">
  <blockquote class="blockquote mt-3">
    <p>
      Recommended on desktop:
      <a
        href="https://chrome.google.com/webstore/detail/imagus/immpkjjlgappgfkkfieppnmlhakdmaab"
        >Imagus Chrome extension</a
      >
    </p>

    <p>
      This extension will enlarge the images on
      <a href="/results">/results</a> if you hover them with your mouse.
    </p>
  </blockquote>
</div>

<%- include('../partials/base/html_bottom') %>
