<%- include('../partials/base/html_top') %>

<div class="jumbotron"></div>

<!-- <-%- include('../partials/modules/pi_screenshot.ejs') %> -->

<%- include('../partials/modules/results_carousel.ejs') %> <%-
include('../partials/base/html_bottom') %>
