<div class="container mt-3">
  <div class="row">
    <h1>Scrapes</h1>
  </div>

  <div
    class="row row-cols-md-3 row-cols-lg-5 g-2 g-lg-3 align-items-center mt-3"
  >
    <% var i=0 %> <% Object.keys(screenshots).forEach(function(image) { %>

    <div class="col">
      <div class="card shadow-sm text-center mt-3 w-80 border-dark mb-3">
        <h5 class="card-header"><%= screenshots[image].subdir %></h5>

        <div class="card-body">
          <div class="mx-auto">
            <picture>
              <source type="image/jpeg+png" />
              <img
                class="img-thumbnail img-fluid"
                src="<%= screenshots[image].cleanPath %>"
              />
            </picture>
          </div>
        </div>

        <div class="card-footer text-muted">
          <!-- scrape description, i.e. price, here-->
        </div>
      </div>
    </div>
    <% i++; %> <% }) %>
  </div>
</div>
