<div class="container">
  <!-- Results carousel card -->
  <div
    class="card text-center text-dark bg-light border border-3 border-dark mb-3 mt-2"
  >
    <div class="card-header"><h5 class="display-5">Results</h5></div>
    <div class="card-body">
      <h5 class="card-title">Instructions</h5>
      <p class="card-text">Results are displayed in carousel below.</p>
      <p class="card-text">
        Click/tap on the left and right edges to move between images. Click
        "scrape" button to scrape again.
      </p>
      <!-- Results carousel -->
      <div class="card border border-2 border-dark">
        <div
          id="carouselExampleControls"
          class="carousel slide border border-dark"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <% var i=0 %> <% Object.keys(screenshots).forEach(function(image) {
            %> <% if (i==0) { %>
            <div class="carousel-item active">
              <picture>
                <source type="image/jpeg+png" />
                <img
                  class="d-block w-100"
                  src="<%= screenshots[image].cleanPath %>"
                />
              </picture>
            </div>
            <%} else {%>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="<%= screenshots[image].cleanPath %>"
              />
            </div>
            <% } %> <% i++; %> <% }) %>
          </div>
          <button
            class="carousel-control-next btn-primary"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span
            ><span class="visually-hidden">next</span>
          </button>
          <button
            class="carousel-control-prev btn-primary"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">previous</span>
          </button>
        </div>
      </div>
      <!-- End Results carousel -->
    </div>
    <!-- End results card -->
  </div>
</div>
